[Unit]
Description=Namecheap DDNS Service
Documentation=https://github.com/jewzaam/namecheap-ddns-exporter/
Wants=network-online.target
After=network-online.target

[Service]
User=$USER
Restart=on-failure
WorkingDirectory=$REPO_BASE_DIR
ExecStart=$PYTHON $REPO_BASE_DIR/src/py/namecheap-ddns-exporter.py --port $PORT --config $CONFIG

[Install]
WantedBy=multi-user.target